/itq_test_backend_api/__pycache__/*
/itq_test_backend_api/little_env/*
/itq_test_backend_api/app/__pycache__/*
/itq_test_backend_api/migrations/*
/documentation/.~*

/itq_test_front/node_modules/*
/itq_test_front/build/*
/itq_test_front/src/fconfig.json
